/* Accordion Styles */
.accordion {
  margin: 0 auto;
  padding: 0;
}

.accordion .panel {
  list-style-type: none;
}

.accordion .panel p {
  margin: .5em 1em;
}

.accordion .panel .content {
  -webkit-transition: height .5s cubic-bezier(.55, 0, .1, 1);
  -moz-transition: height .5s cubic-bezier(.55, 0, .1, 1);
  transition: height .5s cubic-bezier(.55, 0, .1, 1);
  height: 0;
  overflow: auto;
}

.accordion .panel.active .content {
  -webkit-transition: height .5s cubic-bezier(.55, 0, .1, 1);
  -moz-transition: height .5s cubic-bezier(.55, 0, .1, 1);
  transition: height .5s cubic-bezier(.55, 0, .1, 1);
  height: 150px;
}