pre {
	border: 0 !important;
	padding: 10px !important;
	background: #EEE;
	white-space: pre-wrap;
}
fieldset {
	border: 1px solid grey;
}
legend {
	background: lightblue;
	padding: 2px 7px;
}
code {
	font-weight: bold;
	padding: 2px 5px;
	background: lightgreen;
	font-family: inherit;
	font-size: 1em;
}
section {
	margin-bottom: 5em;
}
blockquote {
	border-left: 4px solid grey;
	padding-left: 10px;
	font-style: italic;
}
blockquote cite {
	float: right;
	font-size: small;
	display: block;
}



/* Accordion Styles */
.accordion {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.accordion .panel h4 {
	background: darkgrey;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0;
	padding: 1em;
}

.accordion .panel.active h4,
.accordion .panel h4:hover {
	background: grey;
}

.accordion .panel p {
	margin: .5em 1em;
}

.accordion .panel .content {
	-webkit-transition: height .5s cubic-bezier(.55, 0, .1, 1);
	-moz-transition: height .5s cubic-bezier(.55, 0, .1, 1);
	transition: height .5s cubic-bezier(.55, 0, .1, 1);
	height: 0;
	overflow: auto;
}

.accordion .panel.active .content {
	-webkit-transition: height .5s cubic-bezier(.55, 0, .1, 1);
	-moz-transition: height .5s cubic-bezier(.55, 0, .1, 1);
	transition: height .5s cubic-bezier(.55, 0, .1, 1);
	height: 300px;
}


/* Slideshow Styles */
.slideshow {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.slideshow button {
	position: absolute;
	z-index: 1;
}

.slideshow button:first-child {
	left: 0;
}

.slideshow button:last-child {
	right: 0;
}

.slideshow-wrapper {
	position: relative;
	height: 720px;
	overflow: hidden;
}

.slideshow-wrapper ul {
	-webkit-transition: transform .5s cubic-bezier(.55, 0, .1, 1);
	-moz-transition: transform .5s cubic-bezier(.55, 0, .1, 1);
	transition: transform .5s cubic-bezier(.55, 0, .1, 1);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

.slideshow-wrapper ul li {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
	float: left;
	width: 960px;
}

.slideshow-wrapper ul li img {
	position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

/*	height: auto !important;
	max-width: 100%;*/
}















































