@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300);

html {
  font-family: 'Roboto', sans-serif;
}

section {
  margin-bottom: 3em;
}

hr {
  margin: 2em 0;
}

button.button {
  color: #3f51b5;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}