/* Slideshow Styles */
.slideshow {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.slideshow-wrapper {
	position: relative;
	width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.slideshow-wrapper-inner {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slideshow-wrapper .panel-wrap {
	-webkit-transition: transform .5s cubic-bezier(.75, 0, .1, 1);
	-moz-transition: transform .5s cubic-bezier(.75, 0, .1, 1);
	transition: transform .5s cubic-bezier(.75, 0, .1, 1);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
}

.slideshow-wrapper .panel-wrap li {
	display: inline-block;
	width: 100%;
}

.slideshow-wrapper .panel-wrap li img {
	width: 100%;
}

.slideshow #previous,
.slideshow #next {
	z-index: 1;
	position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slideshow #previous {
	left: -0.75em;
}

.slideshow #next {
	right: -.75em;
}

.count {
	position: absolute;
	right: 0;
	top: 0;
}